@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

:root {
  --strong-cyan: hsl(171, 66%, 44%);
  --dark-cyan: hsl(171, 64%, 31%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-blue: hsl(233, 49%, 53%);

  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
  --light-gray: rgba(245, 246, 248, 255);

  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
}

.container {
  margin: 0 20px;
}

.hero {
  margin-top: 50px;
  padding: 50px 10px 0;
  text-align: center;
}

.hero h1 {
  font-size: 1.6rem;
}

.hero p {
  font-size: 0.9rem;
  color: var(--grayish-blue);
  line-height: 1.5;
  text-justify: center;
  padding: 0 2px;
}

.buttons {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.buttons a {
  padding: 15px 30px;
  width: 350px;
  margin: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.download-btn-ios {
  background-color: var(--strong-cyan);
  /* transition:0.6s; */
}

.download-btn-ios:hover{
  box-shadow: 0 4px var(--dark-cyan);
  transition:0.6s;
}

.download-btn-mac {
  background-color: var(--light-blue);
  /* transition:0.6s; */
}

.download-btn-mac:hover{
  box-shadow: 0 4px var(--dark-blue);
  transition: 0.6s;
}

.features {
  text-align: center;
  margin-top: 150px;
}

.features-content {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  max-width: 650px;
  margin: 0 auto;
}

.features-title {
  margin: 20px;
}

.features-text {
  color: var(--grayish-blue);
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.features-image {
  margin: 0 auto;
  width: 100%;
  margin-top: 35px;
}

.features-image-2 {
  margin: 50px auto -20px;
  width: 100%;
}

.feature-title {
  margin: 40px 0 15px 0;
  font-size: 1.3rem;
}

.feature-item {
  padding: 0 10px;
}

.feature-text {
  font-size: 0.9rem;
  color: var(--grayish-blue);
  line-height: 1.5rem;
}

.features-1 {
  margin-top: 90px;
}

.feature-icon {
  margin-top: 60px;
}

.supporters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}

.supporter-icon {
  margin: 35px;
  padding: 0 20px;
  height: 30px;
}

footer {
  background-color: var(--light-gray);
  padding-bottom: 50px;
  margin-top: 150px;
}

.footer-info {
  margin: 80px 0;
}

.logo-footer-box {
  padding-top: 50px;
  text-align: center;
}

.logo-footer {
  margin: 0 auto;
  width: 60px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  line-height: 1.5rem;
  color: var(--dark-grayish-blue);
}

.menu-item {
  margin: 10px 0;
  cursor: pointer;
}

.menu-item:hover {
  color: var(--strong-cyan);
}

.social-media {
  text-align: center;
}

.social-media-icon {
  margin: 20px 20px;
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: 0 100px;
  line-height: 1.5rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 900px) {
  body {
    background-image: url("images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
  }

  .hero img {
    width: 100px;
    margin-bottom: 25px;
  }

  .hero h1 {
    font-size: 1.95rem;
    margin: 20px 0 15px 0;
  }

  .hero p {
    margin: 0 auto;
    max-width: 550px;
  }

  .buttons a {
    padding: 15px 10px;
    width: 180px;
    margin: 10px 10px;
    font-size: 0.9rem;
  }

  .features {
    margin-top: 100px;
  }

  .features-info {
    margin: 50px 0;
    display: flex;
  }

  .features-info .features-image {
    margin-left: -90px;
    width: 75vw;
    margin-right: 50px;
  }

  .features-image-2 {
    margin: 20px auto -50px;
    width: 50%;
  }

  .features-list {
    margin: 70px 30px 60px 70px;
  }

  .feature-item {
    padding-right: 240px;
    text-align: left;
  }

  .feature-title {
    font-size: 1.1rem;
  }

  .feature-text {
    font-size: 0.7rem;
  }

  .features-1 .features-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .features-1 .feature-item {
    padding: 0 60px;
    text-justify: center;
    text-align: center;
  }

  .supporter-icon {
    margin: 35px;
    padding: 0;
    height: 40px;
  }

  footer {
    height: 230px;
  }

  .footer-info {
    margin: auto 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
  }

  .logo-footer-box {
    padding: 0;
    text-align: center;
    margin-top: 30px;
    margin-left:-150px;
  }

  .logo-footer {
    margin: 0 auto;
    width: 60px;
  }

  .nav-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 100px;
    align-items: flex-start;
    margin: 30px 0 0 -350px;
    line-height: 1.5rem;
    color: var(--dark-grayish-blue);
  }

  .menu-item {
    margin: 10px 20px;
    cursor: pointer;
    min-width: 100px;
  }

  .social-media {
  text-align: right;
  margin: 30px -180px 0 0;
}



}
